---
import { getCollection } from "astro:content";
import { useTranslations } from "../i18n/utils";
import SuccessCard from "./SuccessCard.astro";
import BookButton from "../components/BookButton.astro";
import Test from "./Test.astro";
import SpeedGauge from "./SpeedGauge.astro";
import ErrorValidation from "./ErrorValidation.astro";
import ManualReduction from "./ManualReduction.astro";
const { currentLang = "es" } = Astro.props;
const t = useTranslations(currentLang);

const allBenefits = await getCollection("benefits");
const benefits = allBenefits.sort(
  (a: { data: { sortOrder?: number } }, b: { data: { sortOrder?: number } }) =>
    (a.data.sortOrder || 999) - (b.data.sortOrder || 999),
);
---

<section
  id="benefits"
  class="w-full pt-10 pb-40 px-4 bg-(--color-bg) mt-24 relative"
>
  <div class="max-w-6xl mx-auto">
    <h2
      data-duration="700"
      data-animate="fade-down"
      transition:name="benefits"
      class="text-5xl font-extrabold mb-8 text-center text-white"
      set:html={t.benefits.title}
    />
    <h4 class="mb-20 text-xl text-center">
      {t.benefits.subtitle}
    </h4>
    <div
      data-duration="700"
      data-animate="fade-left"
      class="flex flex-wrap justify-center gap-8 mb-18"
    >
      {
        benefits.map((benefit: { data: any; slug: string }, index: number) => {
          const { data, slug } = benefit;
          const title =
            currentLang === "en" && data.title_en ? data.title_en : data.title;
          const description =
            currentLang === "en" && data.description_en
              ? data.description_en
              : data.description;
          const { img } = data;

          const isSpeedCard =
            title.includes("Velocidad") || title.includes("Speed");
          const isErrorCard =
            title.includes("Errores") ||
            title.includes("Errors") ||
            title.includes("Mistakes");
          const isManualCard = title.includes("Manual");

          return (
            <SuccessCard title={title} text={description} img={img}>
              {isSpeedCard && <SpeedGauge slot="graphic" />}
              {isErrorCard && <ErrorValidation slot="graphic" />}
              {isManualCard && <ManualReduction slot="graphic" />}
            </SuccessCard>
          );
        })
      }
    </div>
    <BookButton currentLang={currentLang} text={t.buttons.book} />
  </div>

  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
    class="absolute -bottom-px left-0 w-full h-auto block z-10"
  >
    <path
      d="M0,0 L892.25,114.72 L1200,0 L1200,120 L0,120 Z"
      class="shape-fill"
      fill="var(--color-bg-alt)"
      fill-opacity="1"></path>
  </svg>
</section>
